#blocpage {
   text-align: -webkit-center;
   max-width: 1165px;
   margin: auto;
}

.top {
    justify-content: space-evenly;
    background-color: #638ace;
   
    border-radius: 10px 100px / 120px;
    background-image: url(../img/back.png);
    background-repeat: no-repeat;
}

.portrait {
   display: flex;
   flex-flow: row-reverse;
}

img {
   border-radius: 50%;
}

h2 {
   text-decoration: underline;
   font-size: 1.6rem;
}

h3 {
   background-color: rgb(49, 49, 49);
    color: #FDDD26;
   
    padding: 21px;
    font-size: 1.6rem;
}

.row  {
   background-color: rgb(49, 49, 49);
    color: #FDDD26;
 
    padding: 21px;
    font-size: 1.6rem;
}

.contact  {
   display: flex;
    justify-content: space-between;
    
    border: solid 1px;
    padding: 20px;
    background-color: #FDDD26;
    font-size: 20px;
}

.about  {
   
    overflow-wrap: normal;
    border: solid 1px;
    padding: 20px;
    font-size: 25px;
}

.world {
    place-content: center;
    align-items: center;
    place-content: space-evenly;
}

.formations {
   display: flex;
  
    border: solid 1px;
    padding: 16px;
    background-color: #FDDD26;
    font-size: 22px;
    align-items: center;
    justify-content: center;
}

.Compétences { 
   border: solid 1px;
   
    padding: 21px;
    font-size: 20px;
    font-size: 1.2rem;
    line-height: 5px;
}

.align-center {
   display: flex;
   flex-direction: row;
  
    place-content: center;
}

.ico {
   margin: 10px;
   font-size: 65px;
}

.ico1 {
   font-size: 45px;
   padding: 10px;
   color: #638ace;
}

.iconesloisirs {
   border: solid 1px black;
    
    padding: 21px;
    font-size: 20px;
    font-size: 45px;
   color: #638ace;
   background-color: #FDDD26;
}

.exp {
   display: flex;
  
   border: solid 1px;
   padding: 16px;
   font-size: 22px;
   align-items: center;
   justify-content: center;
}

.reco {
  
   padding: 16px;
   font-size: 22px;
   background-color: #FDDD26;
}

.people {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

/* Mise en page responsive pour tablettes et mobiles */

@media screen and (max-width: 768px) {
   
  .contact, .formations, .exp, .people {
     display: block;
  }
  .Compétences {
     line-height: 20px;
  }
}